.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    color: white;
    font-size: 18pt;
    align-self: center;
    /* place-items: center; */
    top: 0;
    text-align: center;
  }
  
@font-face {
  font-family: fr-bold;
  src: url(./fr-bold.ttf);
}

.score {
    grid-column: 1/-1;
    grid-row: 3/4;
    font-family: fr-bold;
    font-size: 12pt;
    text-align: center;
    margin: 5px;
}
  