.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    color: white;
    /* grid-column: 1/-1; */
    font-size: 18pt;
    /* align-self: center; */
    place-items: center;
    top: 0;
    text-align: center;
    background-color: blue;
  }
  
@font-face {
  font-family: fr-bold;
  src: url(./fr-bold.ttf);
}

h2 {
  font-family: fr-bold;
  grid-column: 1/-1;
  grid-row: 1/2;
  margin-top: 15px;
  margin-bottom: 0px;
}

p {
  font-family: fr-bold;
  font-size: 16pt;
  grid-column: 1/-1;
  grid-row: 2/3;
  margin: 15px;
}

.score {
    grid-column: 1/-1;
    grid-row: 3/4;
    font-family: fr-bold;
    font-size: 12pt;
    text-align: center;
    margin: 5px;
}
  