.App {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 300px 1fr 255px;
    height: 100vh;
    width: 100%;
    text-align: center;
}

p {
    font-family: fr-bold;
    font-size: 16pt;
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 15px;
}

h2 {
    font-family: fr-bold;
    grid-column: 1/-1;
    grid-row: 1/2;
    margin-top: 15px;
    margin-bottom: 0px;
}

.header {
    grid-column: 1/-1;
    grid-row: 1/2;
}

.imageGrid {
    grid-column: 1/-1;
    grid-row: 3/4;
    width: auto;
}


/* desktop */
@media (min-width: 1025px) {
    .App {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 300px 1fr 250px;
    }

    .header {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .prizeDiv {
        grid-column: 2/3;
        grid-row: 2/3;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        width: 400px;
        justify-self: center;
    }

    /* .prize {
        grid-column: 2/3;
        grid-row: 1/2;
        padding-bottom: 5px;
    } */

    .imageGrid {
        grid-column: 2/3;
        grid-row: 3/4;
        width: auto;
    }

}
/* end desktop */