@media (max-width: 768px) {
img {
    height: 100px;
    margin: 10px;
}
}   

@media (min-width: 769px) and (max-width: 1024px) {
    img {
        height: 150px;
        margin: 5px;
    }
}   

/* desktop */
@media (min-width: 1025px) {
    img {
    height: 200px;
    margin: 5px;
    }
}

.zoom {
  transition: .2s;
}

.zoom:hover {
  transform: scale(1.05);
}